#home-container {
    /*background-color: grey;*/
}

.left-menu {
	float: left;
	margin-top: 20px; 
}

.right-content {
	position: relative;
	float: left;
	left: 45px;
	width: 85%;
	margin-top: 15px;
}

.home-introduce {
	position: relative;
	float: left;
	top: 345px;
	width: 97%;
	margin-left: 20px;
	font-size: bold;
}