
.example-content-ct .example-ct{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.example-content-ct .example-ct .example-card-ct{
  width: 200px;
  margin: 20px;
  background: rgb(238, 238, 238);
  cursor: pointer;
}

.example-content-ct .example-ct .example-card-ct .title-ct{
  text-align: center;
  margin: 10px 0;
  color: black;
}

.example-content-ct .example-ct .example-card-ct .time-ct{
  text-align: center;
  color: rgb(167, 167, 167);
  font-size: 12px;
  margin-bottom: 10px;
}


